body{
  width: 90%;
  margin:auto;
}

header{
  display: flex;
  align-items: center;
  margin: 20px;
}

header h1 {
  margin: 20px;
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

main{
  display: grid;
  grid-template-columns: 20% 80% ;
  grid-template-rows: 300px 50px 400px;
}

main div

ul{
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  
  
}

#imgcontainer{
  grid-column: 2 / 3;
  grid-row: 1 / 2 ;
  display: flex;
  justify-content:space-between;
  
}

li{
  font-size: 13px;
}

div img{
  
  border: 5px solid transparent;
  max-width: 330px;
  max-height: 270px;
}

div img:hover{
  border: 5px solid green;
  cursor: pointer;
}

#chart {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  width: 800px;
  height: 350px;

}


ul p {
  border: 5px solid transparent;
  background-color: red;
  width: 100px;
  height: 60px;
  padding: 2rem;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  
  
}

ul p:hover{
  border: 5px solid black;
  cursor: pointer;

}


p {
  font-size: 20px;
}

footer{
  border: 5px solid black;
  text-align: center;
  margin-top: 40px;
}
footer h1 {
  margin: 20px 0px;
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
